<section class="vh-100" style="margin-top:20px;">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <h2>Connectez-vous maintenant ! </h2>
          <form name="form" #formConnex="ngForm" (ngSubmit)="inscription(formConnex)">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Inscrivez vous avec : </p>
              <button type="button" class="btn btn-light btn-floating mx-1">
                <i class="fa fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-light btn-floating mx-1">
                <i class="fa fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-light btn-floating mx-1">
                <i class="fa fa-linkedin"></i>
              </button>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Ou</p>
            </div>
            <!-- NOM-->
            <div class="form-outline mb-3 form-group">
                <input type="text" id="form3Example4" class="form-control form-control-lg" id="nom" name="nom" ngModel
                  placeholder="Nom" />
              </div>

                <!-- PRENOM-->
            <div class="form-outline mb-3 form-group">
                <input type="text" id="form3Example4" class="form-control form-control-lg" id="prenom" name="prenom" ngModel
                  placeholder="Prenom" />
              </div>
            <!-- Email input -->
            <div class="form-outline mb-4 form-group">
              <input type="email" id="form3Example3" class="form-control form-control-lg" id="email" name="email" ngModel
                placeholder="Enter a valid email address" />
              
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3 form-group">
              <input type="password" id="form3Example4" class="form-control form-control-lg" id="password" name="password" ngModel
                placeholder="Enter password" />
            
            </div>

              <!-- TELEPHONE-->
              <div class="form-outline mb-3 form-group">
                <input type="text" id="form3Example4" class="form-control form-control-lg" id="telephone" name="telephone" ngModel
                  placeholder="Téléphone" />
              </div>

                <!-- Adresse-->
            <div class="form-outline mb-3 form-group">
                <input type="text" id="form3Example4" class="form-control form-control-lg" id="adresse" name="adresse" ngModel
                  placeholder="Adresse" />
              </div>

                <!-- Code postale-->
            <div class="form-outline mb-3 form-group">
                <input type="text" id="form3Example4" class="form-control form-control-lg" id="code" name="code" ngModel
                  placeholder="Code postale" />
              </div>

                <!-- Ville-->
            <div class="form-outline mb-3 form-group">
                <input type="text" id="form3Example4" class="form-control form-control-lg" id="ville" name="ville" ngModel
                  placeholder="Ville" />
              </div>

                <!-- Pays-->
            <div class="form-outline mb-3 form-group">
                <input type="text" id="form3Example4" class="form-control form-control-lg" id="pays" name="pays" ngModel
                  placeholder="Pays" />
              </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Mot de passe oublié ?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-success btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Inscription</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Déja inscrit ? <a routerLink="/inscription"
                  class="link-danger">Connectez-vous</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>

  </section>