
<html>
<head>
    <base href="/">

 

</head>




<div class="footer-clean">
    <footer>
     


        <div class="newsletter">
            <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <h2>ABONNEZ-VOUS MAINTENANT !</h2>
                    <h6 class="content-tuned">Abonnez vous maintenant pour ne pas rater toutes nos Nouveautés</h6>
                <div class="input-group">
                     <input type="email" class="form-control" placeholder="Entrer votre email">
                     <span class="input-group-btn">
                     <button class="btn" type="submit">M'ABONNER</button>
                     
                    </span>
                     </div>
                      
                      <div class="text-center">
            
                        <a class="unsubscribe-link" href="#">Voulez-vous vous désabonner ?</a>
                          
                      </div>
                       
               
                    
                    </div>
                    </div>
            </div>
            </div>
            </div>
          








        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#">
                   
                           <i class="fa fa-twitter"></i></a><a href="#"><i
                            class="fa fa-snapchat"></i></a><a href="#"><i
                            class="fa fa-instagram"></i></a>
                    <p class="copyright">Jean Cloud Vinyle © 2022</p>
                </div>
            </div>
        </div>
    </footer>
</div>





</html>