<html>

<head>

    <base href="/">
</head>

<body>

    <div class="container">
       
    <div class="col-lg-12 sm-4 ">
        <div *ngFor="let coo of listeAlb.Item"> <!--Parcours tous les albums-->
            
                <div class="card" style="width: 20%; height:auto; margin-left: 5%; margin-bottom: 5%;margin-top: 5%;">
                    <div>
                        <img class="card-img-top" src={{coo[2]}} style="width:100%; max-height:auto;">

                        <div class="card-body">
                            <h4 class="card-title">{{coo[0]}}</h4>
                            <!--Affiche le nom de l'album-->
                            <p class="card-text">{{coo[1]}}</p>
                            <!--Affiche le nom de l'artiste-->


                            <p class="card-text">{{coo[3]}} €</p>
                            <!--Affiche le prix-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                                <div class="text-center "><a routerLink="/details/{{coo[1]}}/{{coo[0]}}"
                                        class="btn btn-outline-dark mt-auto ">Voir le produit</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
   


  





    <br>

    <br>

    <br>

    <br>







</body>

</html>