<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .bcontent {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container bcontent">
        <h2>{{tesstt}}</h2>
        <hr />
        <div class="card" style="width: 100%;">
            <div class="row no-gutters">
                <div class="col">
                    <img class="card-img" src="../assets/imageTest.png" alt="" style="width:70%; margin-left:20px;">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{tesst}}</h5>
                        
                        <div *ngFor="let music of listeDetails.Musiques">
                        <p class="card-text">{{music}}</p>
                        </div>
                        <br>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                            <div class="text-center "><a routerLink="#"
                                    class="btn btn-outline-dark mt-auto ">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>