body{
    background-image: url("https://img.freepik.com/photos-gratuite/fond-papier-aquarelle-texture-vintage_53876-103939.jpg?w=2000");
    font-family: GoodTime;
    
}

.middle{
    padding: 0;
    margin: 0%;
    width: auto;
}
